{% extends "base.html" %}
{% load staticfiles bootstrap3 i18n %}

{% block content %}

    <div class="wrap">
        <div class="main">
            <div class="login_left center-block">
                <h3 style="color: gray">Log in</h3>
                <div class="registration">
                    <div class="registration_left">
                        <div class="registration_form">

                            <div class="form-group">
                                {% if form.errors %}
                                    <p style="color: red">Your username and password didn't match. Please try
                                        again.</p>
                                {% endif %}
                                {% if request.GET.next %}
                                    {% if user.is_authenticated %}
                                        <p style="color: red">Your account doesn't have access to this page. To
                                            proceed,
                                            please login with an account that has access.</p>
                                    {% else %}
                                        <p style="color: red">Please login for review this page.</p>
                                    {% endif %}
                                {% endif %}
                                <div style="padding-left: 15px;padding-top: 20px;border: 1px solid gainsboro">
                                    <form method="post" action="{% url 'login' %}">
                                        {% csrf_token %}
                                        {% bootstrap_field form.username show_label=False %}
                                        {% bootstrap_field form.password show_label=False %}

                                        <div class="row">
                                            <div class="col-md-11 text-right">

                                                <button class="btn btn-primary auth_button" type="submit">

                                                    Login <i class="fa fa-sign-in" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <input type="hidden" name="next" value="{{ request.GET.next }}"/>

                                        <div class="forget text-center">
                                            <a href="{% url 'password_reset' %}">Forgot password?</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

{% endblock %}