{% extends 'base.html' %}

{% block content %}


        <div class="wrap">
            <div class="main">
                <div class="login_left center-block">
                    <h3 style="color: gray">CHECK YOUR EMAIL BOX!</h3>
                    <div class="registration" style="height: 600px;">
                        <div class="registration_left">
                            <div class="registration_form" style="border: 1px solid gainsboro">

                                <div class="form-group" style="padding: 10px;">
                                    <p class="text-info">
                                        We've emailed you instructions for setting your password, if an account exists
                                        with the
                                        email you entered.
                                        You should receive them shortly.
                                    </p>
                                    <p class="text-info">
                                        If you don't receive an email, please make sure you've entered the address you
                                        registered
                                        with,
                                        and check your spam folder.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

{% endblock %}