{% extends 'base.html' %}

{% block content %}

    <div class="main_bg">
        <div class="wrap">
            <div class="main">
                <div class="login_left center-block">
                    <h3 style="color: gray">CHECK YOUR EMAIL BOX!</h3>
                    <div class="registration">
                        <div class="registration_left">
                            <div class="registration_form">

                                <div class="form-group">
                                    <p class="text-info">
                                        We've emailed you instructions for setting your password, if an account exists
                                        with the
                                        email you entered.
                                        You should receive them shortly.
                                    </p>
                                    <p class="text-info">
                                        If you don't receive an email, please make sure you've entered the address you
                                        registered
                                        with,
                                        and check your spam folder.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}