{% extends 'base.html' %}

{% block content %}

    <div class="main_bg">
        <div class="wrap">
            <div class="main">
                <div class="login_left center-block">
                    <h3 style="color: gray">PASSWORD SUCCESSFULLY CHANGED!</h3>
                    <div class="registration">
                        <div class="registration_left">
                            <div class="registration_form">

                                <div class="form-group">
                                    <p class="text-info">
                                        Your password has been set. You may go ahead and
                                        <a class="text-danger" href="{% url 'login' %}">Sign in!</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}