{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

        <div class="wrap">
            <div class="main">
                <div class="login_left center-block">
                    <h3 style="color: gray">RESET PASSWORD!</h3>
                    <div class="registration">
                        <div class="registration_left">
                            <div class="registration_form" style="border: 1px solid gainsboro">

                                <div class="form-group">
                                    <form method="post"  style="padding-left: 17px;">
                                        {% csrf_token %}
                                        {% bootstrap_field form.email show_label=False %}
                                        <div class="row">
                                            <div class="col-md-11 text-right">
                                                <input class="btn btn-primary auth_button" type="submit"
                                                       value="Submit"/>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

{% endblock %}