{% extends 'base.html' %}

{% block content %}

        <div class="wrap">
            <div class="main">
                <div class="login_left center-block">
                    <h3 style="color: gray">PASSWORD SUCCESSFULLY CHANGED!</h3>
                    <div class="registration">
                        <div class="registration_left">
                            <div class="registration_form" style="border: 1px solid gainsboro">

                                <div class="form-group">
                                    <p class="text-info" style="padding: 10px;">
                                        Your password has been set. You may go ahead and
                                        <a class="text-danger" href="{% url 'login' %}">Sign in!</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

{% endblock %}