{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}

        <div class="wrap">
            <div class="main">
                <div class="login_left center-block">
                    <h3 style="color: gray">CHANGE PASSWORD!</h3>
                    <div class="registration">
                        <div class="registration_left">
                            <div class="registration_form" style="border: 1px solid gainsboro">

                              <div class="form-group">
                        {% if validlink %}
                            <form method="post" style="padding-left: 17px;">
                                {% csrf_token %}
                                  {% bootstrap_field form.new_password1 %}
                                {% bootstrap_field form.new_password2 %}

                            <div class="row">
                                            <div class="col-md-offset-5 col-md-4">
                                                <input class="btn btn-primary auth_button" type="submit"
                                                       value="Change password"/>
                                            </div>

                                        </div>
                            </form>
                        {% else %}
                            <p>
                                The password reset link was invalid, possibly because it has already been used.
                                Please request a new password reset.
                            </p>
                        {% endif %}
                    </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>

{% endblock %}