{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="top-grids">
                    <div class="container">
                        <div class="col-md-4 top-grid text-center">
                            <div class="top-grid-pic text-center">

                                {% if object.image %}
                                    <img src="{{ object.image.url }}"    title="Boots"/>
                                {% else %}
                                     <img src="{% static 'images/empty_cat.png' %}"  title="Boots"/>
                                {% endif %}
                                <span class="center-block">{{ object.name }}</span>

                            </div>
                            <div class="top-grid-pic-info">
                                <a href="{% url 'products' category_slug=object.slug %}">See all</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/auto_hover.js' %}" type="text/javascript"></script>
{% endblock %}