{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Categories {% endblock %}

{% block content %}

    <div class="row">
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="top-grids">
                    <div class="container">
                        <div class="col-md-4 top-grid text-center">
                            <div class="top-grid-pic text-center">
                                {% if object.image %}
                                    <img src="{{ object.image.url }}" title="Image"/>
                                {% else %}
                                    <img src="{% static 'images/empty_cat.png' %}" title="Image"/>
                                {% endif %}
                                <p>{{ object.get_short_description }}</p>
                                <span class="center-block" style="color: cornflowerblue">{{ object.name }}</span>
                            </div>
                            <div class="top-grid-pic-info">
                                <a href="{% url 'products_in_category' category_slug=object.slug %}">See all</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-md-12 empty_list">
                <p class="text-center text-danger">Empty list!</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
