{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row">
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="top-grids">
                    <div class="container">
                        <div class="col-md-4 top-grid text-center">
                            <div class="top-grid-pic text-center">
                                {% if object.image %}
                                    <img src="{{ object.image.url }}" title="Boots"/>
                                {% else %}
                                    <div style="width: 320px;height: 300px;" class="center-block">
                                        <p class="text-danger text-center" style="margin-top: 100px;">No available image
                                            <br>
                                        <p class="text-info">Upload one</p>
                                        </p>
                                    </div>
                                {% endif %}
                                <span class="center-block">{{ object.name }}</span>

                            </div>
                            <div class="top-grid-pic-info">
                                <a href="{% url 'products' category_slug=object.slug %}">See all</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}