{% extends 'base.html' %}
{% load staticfiles bootstrap3 %}
{% load active_item %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            {% block breadcrumbs %}
                <ul class="breadcrumb" style="padding-top: 10px;margin-top: 10px; padding-bottom: 50px;">
                    {% url 'categories' as categories %}
                    <li>
                        <a {% if categories|active:request %}style="text-decoration: underline"
                           {% else %}style="color: darkgrey;"{% endif %}
                           href="{{ categories }}">Categories</a>
                    </li>
                    {% url 'products' category_slug=object.category.slug|lower as products %}
                    <li>
                        <a {% if products|active:request %}style="text-decoration: underline" {% else %}style="color: darkgrey;"{% endif %}
                           href="{{ products }}">{{ object.category.name }}
                        </a>
                    </li>

                    {% url 'product_details' category_slug=object.category.slug|lower product_slug=object.slug as product_details %}
                    <li>
                        <a {% if product_details|active:request %}style="text-decoration: underline"
                           {% else %}style="color: darkgrey;"{% endif %}
                           href="{{ product_details }}">{{ object.name }}</a>
                    </li>
                </ul>
            {% endblock %}
            <div class="details-left">
                <div class="details-left-slider">
                    <ul id="etalage" class="etalage" style="display: block; width: 314px; height: 552px;">
                        <li class="etalage_thumb thumb_3 etalage_thumb_active"
                            style="display: list-item; opacity: 1; background-image: none;">
                            {% if object.image %}
                                <img class="single_prod img-responsive" src="{{ object.image.url }}"
                                     alt="Elliot Boots"/>
                            {% else %}
                                <img class="single_prod img-responsive" src="{% static 'images/empty_prod-1.png' %}"
                                     alt="Elliot Boots"/>
                            {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="details-left-info">
                    <div class="details-right-head">
                        <h1>{{ object.name }}</h1>

                        <p class="product-detail-info">
                            {{ object.description }}
                        </p>
                        <p class="text-danger" style="padding-bottom: 10px;">{{ object.price|floatformat }} $</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}