<!-- footer -->
<!-- social-icons -->
<div class="social-icons text-center">
    <ul>
        <li><a href="#"><span class="facebook"> </span></a></li>
        <li><a href="#"><span class="twitter"> </span></a></li>
        <li><a href="#"><span class="gpluse"> </span></a></li>
    </ul>
</div>
<!-- social-icons -->
<!-- footer-bottom -->
<div class="footer-bottom" style="padding-bottom: 20px;">
    <div class="footer-bottom-center text-center">
        <p>2017 All rights reserved</p>
    </div>

    <div class="clearfix"></div>
    <!-- footer-bottom -->
</div>
<!-- footer -->