{% load staticfiles bootstrap3 %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Space-Shope{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/jquery.mmenu.all.css' %}" rel='stylesheet' type='text/css'/>


    <!-- Custom Theme files -->

    {% block styles %}{% endblock %}
</head>
<body>

{% include 'snippets/header.html' %}
{% include 'snippets/top-nav.html' %}

<!-- container -->
<div class="container">
    <div class="row">
        <div class="col-md-12">

            {% block content %}
                {% block breadcrumbs %}

                {% endblock %}
            {% endblock %}

            {% include 'snippets/pagination.html' %}

        </div>
    </div>
</div>
<!-- container -->


{% include 'snippets/footer.html' %}
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>

